# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LTown.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Egyetem\Projektmunka\LTown\LTown\.idea\.idea.LTown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
